---
layout: default
title: m+ &mdash; About
---
<div id="left"><div class="padding">
  
  {% include header/left.html %}
  
  <div id="image">
    <div id="leading_image">
      <img id="the_leading_image" src="/images/me.jpg" border="0" />
    </div>
    <div id="leading_image_caption">
      Matt Todd, a 24-year-old fuck-up postmodernist programmer artist whateverthehelliam
    </div>
  </div>
  
  <h2>Contact</h2>
  <div>email / <a href="mailto:mtodd@highgroove.com">mtodd@highgroove.com</a></div>
  <div>aim / <a href="aim:goim?screenname=themaraby">themaraby</a></div>
  <div>phone / 404-314-2612</div>
  <div>mail / 1742A Taylor St NW<br />Atlanta, GA 30318</div>
  
</div></div><!-- /left -->



<div id="right"><div class="padding">
  
  {% include header/right.html %}
  
  <div id="profile">
    <h2>Personal</h2>
    <div style="float: right;">
      <embed width="224" height="181" type="application/x-shockwave-flash" wmode="transparent" src="http://i358.photobucket.com/player.swf?file=http://vid358.photobucket.com/albums/oo29/ractaboski/MVI_0179.flv"></embed>
    </div>
    <p>
      I'm a Ruby Developer and Open Source Software Architect at <a href="http://highgroove.com/">Highgroove Studios</a> in Atlanta, GA.
    </p>
    
    <h2>Professional</h2>
    <p>
      I work for <a href="http://highgroove.com/">Highgroove Studios</a> in
      Atlanta, GA building <a href="http://rubyonrails.org/">Ruby on Rails</a>
      web applications with a focus on RESTful APIs, open resourcefulness,
      event-driven and scalable architectures.
      I'm an avid <a href="http://git-scm.com/">Git</a> harlot.
    </p>
    <p>
      I've spoken at numerous conferences, including
        <a href="http://rubyfringe.com/">RubyFringe</a> in Toronto, Canada,
        <a href="http://merbcamp.com/">MerbCamp</a> in San Diego, California,
        and <a href="http://atlanta.merbday.com/">MerbDay Atlanta</a>,
      and presents regularly to the <a href="http://atlrug.org/">Atlanta Ruby User Group</a>.
    </p>
    
    <h2>Open Source</h2>
    <p>
      I focus my attention on Open Source projects in the Ruby community.
      I've contributed to various projects, including
        <a href="http://rack.rubyforge.org/">Rack</a>,
        <a href="http://code.macournoyer.com/thin/">Thin</a>,
        and <a href="http://merbivore.com/">Merb</a>,
      and has lead development on several projects, primarily <a href="http://halcyon.rubyforge.org/">Halcyon</a>.
    </p>
    <p>
      In the past, I've developed MVC PHP5 frameworks, authentication systems,
      JSON-based web application development frameworks, etc.
    </p>
    
    <h2>Extracurricular</h2>
    <p>
      In my spare time, I hack around on iPhone application development, I rock
      out in my band, playing the drums and writing songs, and I play plenty of
      Call of Duty: World at War. Sometimes I can be caught playing World of
      Warcraft.
    </p>
    <p>
      I'm on <a href="http://twitter.com/maraby">Twitter</a> constantly, enjoy
      reading a select few comics (like <a href="http://xkcd.com/">XKCD</a>),
      and love to read <a href="http://fmylife.com/">F My Life</a>!
    </p>
  </div>
  
  <div id="images" style="display: none;">
    <h2>Images</h2>
    <table border="0" cellpadding="0" cellspacing="6" id="image-grid">
      <tr>
        <td><a href="http://oculosis.com/maraby/tmp/picnic/20060801-0040.jpg" caption="Summer in the Park" target="_blank"><img src="http://oculosis.com/maraby/tmp/picnic/20060801-0040.jpg" class="thumb" border="0" /></a></td>
        <td><a href="http://oculosis.com/maraby/tmp/picnic/20060801-0192.jpg" caption="A Family Gathers for Dinner" target="_blank"><img src="http://oculosis.com/maraby/tmp/picnic/20060801-0192.jpg" class="thumb" border="0" /></a></td>
        <td><a href="http://oculosis.com/maraby/tmp/picnic/20060801-0167.jpg" caption="In Little Five" target="_blank"><img src="http://oculosis.com/maraby/tmp/picnic/20060801-0167.jpg" class="thumb" border="0" /></a></td>
      </tr>
      <tr>
        <td><a href="http://oculosis.com/maraby/tmp/poop/20060825-0027.jpg" caption="forms 1" target="_blank"><img src="http://oculosis.com/maraby/tmp/poop/20060825-0027.jpg" class="thumb" border="0" /></a></td>
        <td><a href="http://oculosis.com/maraby/tmp/saturday1/20060827-0259.jpg" caption="forms 2" target="_blank"><img src="http://oculosis.com/maraby/tmp/saturday1/20060827-0259.jpg" class="thumb" border="0" /></a></td>
        <td><a href="http://oculosis.com/maraby/tmp/saturday1/20060827-0100.jpg" caption="Twins" target="_blank"><img src="http://oculosis.com/maraby/tmp/saturday1/20060827-0100.jpg" class="thumb" border="0" /></a></td>
      </tr>
      <tr>
        <td><a href="http://oculosis.com/maraby/tmp/e_small.jpg" caption="Suspended Moment, Quiet Shyness" target="_blank"><img src="http://oculosis.com/maraby/tmp/e_small.jpg" class="thumb" border="0" /></a></td>
        <td><a href="http://oculosis.com/maraby/tmp/saturday1/20060827-0244.jpg" caption="Reflecting the Wind Backwards" target="_blank"><img src="http://oculosis.com/maraby/tmp/saturday1/20060827-0244.jpg" class="thumb" border="0" /></a></td>
        <td><a href="http://oculosis.com/maraby/tmp/atlanta_small.jpg" caption="Atlanta, GA" target="_blank"><img src="http://oculosis.com/maraby/tmp/atlanta_small.jpg" class="thumb" border="0" /></a></td>
      </tr>
    </table>
  </div><!-- /images -->
  
</div></div><!-- /right -->
