<div id="bio">
  <h2>Bio</h2>
  <p>
    My name is Matt Todd, I am 21 years old, born on May 8th, 1985, along with my twin brother, Mike
    Todd, in the fine city of Atlanta, GA. I am the youngest of six, a uniquely blended family, not
    unlike the Brady Bunch, though a bit more complicated. I was raised a Christian, though I have
    parted from this path not long ago, deciding to pursue the reality created through my experiences
    as a postmodernist.
  </p>
  <p>
    Academically, this is my third year at <a href="http://www.clayton.edu/">Clayton State University</a>,
    though I am technically only a Sophomore by hours completed. My degree will be a Bachelor of Arts in
    Integrative Studies, allowing me to pursue a higher education in more than just the field of web
    application development, which is my passion, but also in philosophy, math, and art. I chose this
    way mainly because I want to  study what I love, and I cannot obtain a higher education if I neglected
    even these things.
  </p>
  <p>
    I am currently employed at the HUB as lead project developer for web applications used internally.
  </p>
  <p>
    Programming, particularly building web applications with <a href="http://www.rubyonrails.org/">Ruby
    on Rails</a>, is a passion of mine. <a href="http://new.ruby-lang.org/en/">Ruby</a> is the language
    I prefer to program in, though I use <a href="http://www.php.net/">PHP5</a> for work.
  </p>
  <p>
    I am an active participant in the open source community, particularly with the Ruby community itself.
    I contribute to both coding and documentation to numerous projects, and have produced a web application
    development framework for PHP5 called <a href="http://c.anvas.es/">Canvas</a> as an alternative framework
    to other, more popular frameworks such as <a href="http://www.cakephp.org/">CakePHP</a> and
    <a href="http://framework.zend.com/">Zend Framework</a>.
  </p>
</div><!-- /bio -->
