/* Application-wide Styles */
html {
  font-family: Helvetica, serif;
}
.template {
  display: none;
}

/* Footer Styles */
#entries .entry .body {
  display: none;
}
#entries .entry .body.selected {
  display: block;
}

/* Footer Styles */
#footer {
  display: none;
}
