<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{page.title}}</title>
    <link href="/atom.xml" rel="alternate" title="Matt Todd" type="application/atom+xml" />
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
    <script type="text/javascript" src="/javascripts/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="/javascripts/md5.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body>
    
    <div id="container">
      
      <div id="body">
        {{content}}
      </div>
      
    </div><!-- /container -->
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-101852-5");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    
  </body>
</html>
